.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    position: fixed;
    z-index: 2;
}